<h1>Name: <%= @vaccine.name%></h1>
<br>
<p>Disease: <%=@vaccine.disease%></p>
<br>
<p>Time: <%=@vaccine.time%></p>
<br>
<p>Owned by: <%=@user.username%></p>

<a href="/vaccines/<%=@vaccine.id%>/edit">Edit or delete Vaccine </a>
<br>
<a href="/vaccines">Return to index</a>